body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

blockquote {
    border-left: none;
}

.form-control {
    text-align: center;
    width: 360px;
}

#icon {
    width: 50px;
    padding: 0px;
    margin: 0px;
}

#weather-description {
    font-size: 14px;
    color: grey;
    padding: 0px;
    margin: 4px;
}

#temp-type {
    margin: 6px;
}

#temperature {
    font-size: 18px;
}

#Celsius {
    font-size: 18px;
    color: rgb(66, 139, 202);
}

#Fahrenheit {
    font-size: 18px;
    color: rgb(153, 153, 153);
}

#Celsius:hover {
    color: rgb(66, 139, 202);
}

#Fahrenheit:hover {
    color: rgb(66, 139, 202);
}